nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

h1 {
    font-size: 40px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

nav ul li:hover {
    scale: 1.05;
}

.Link {
    text-decoration: none;
    color: rgb(244, 198, 243);
    font-weight: bold;
}